.calcBody{
  margin-top: 12vh; 
  /* border: solid 1px red; */
  /* background: black; */
  color:white;
  width: 35%;
  height: 55vh;
  border-radius: 5px;
}

.calcSection{
  height: 81%;
  display: flex;
}

.sectionOne{
  width: 80%;
  height: 100%;
}

.sectionTwo{
  /* border: solid yellow 1px; */
  width: 25%;
  height: 100%;
}